.banner-slider {
  position: relative;

  .bxslider {
    margin: 0;
    padding: 0;

    li {
      height: 100vh;
      min-height: 790px;
      width: 100% !important;
      position: relative;
      left: 0;
      overflow: hidden;

      .banner-slider-image {
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        height: 100%;
        width: 100%;
        .scale(1.1,1.1);
        .transition(all ease-in-out 2s);
        .opacity(.5);
      }

      &:before {
        content: '';
        background-color: rgba(0,0,0,0.50);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
      }

      img {
        width: 100%;
      }
    }

    .active-slide {
      .banner-slider-image {
        .scale(1,1);
      }
    }
  }

  .bx-viewport {
    height: 100vh !important;
    min-height: 790px !important;
  }

  .banner-caption {
    .blue-title {
      margin-bottom: 2em;
    }
  }



}


.banner-caption {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  .translate(0, -50%);
  text-align: center;

  .banner-title {
    //font-family: @ProximaBold;
    font-weight: 700;
    font-size: 90px;
    color: #fff;
    text-transform: uppercase;

    span {
      display: block;
    }
  }

  .blue-title {
    margin-bottom: 2em;
  }
}

.banner {
  position: relative;
  height: 700px;
  background-size: cover;
  background-position: center top;
  background-attachment: fixed;
  background-color: #000;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.80);
  }

}

.banner-sub {
  .banner-caption {
    top: 50%;
    .translate(0, -50%);
    padding: 0 15px;

    .banner-title {
      font-size: 140px;
      margin-bottom: -1px !important
    }
  }
}

.triangle-after {
  position: relative;

  img {
    position: absolute;
    bottom: -5px;
    left: 0;
    right: 0;
    width: 100%;
  }
}

.banner-caption-down {
  top: inherit !important;
  bottom: 0;
  .translate(0,0) !important;

  .banner-title {
    margin: 0 !important;
    line-height: 0.65;
  }

}

.single-prod-banner {
  overflow: hidden;
}

.banner-single {
  background-attachment: initial;
  .translate3d(0,0,0);
  .scale(1.25);
}

//.is-shown {
//  .banner-caption,
//  .banner-opacity,
//  .blue-title,
//  .btn-primary,
//  .btn-down,
//  .section-about-intro .content,
//  .section-portfolio-intro .content{
//    .opacity(1);
//  }
//}

.is-shown .banner-single {
  .scale(1);
  .transition(6.5s ease-out transform);

  &:before {
    background-color: transparent;
  }
}

//.modal.and.carousel {
//  position: absolute; // Needed because the carousel overrides the position property
//  background: rgba(0, 0, 0, 0.58);
//}

.modal-open {
  overflow: visible;
}
.modal-gallery {
  position: fixed;
  .modal-backdrop.in {
    opacity: .9;
  }
  .modal-backdrop {
    z-index: 0;
  }
  .modal-dialog {
    position: absolute;
    top: 50%;
    left: 50%;
    .translate(-50%, -50%) !important;
    width: 100%;
    text-align: center;
    margin: 0 auto;
  }
  .modal-content {
    background-color: transparent;
    box-shadow: none;
    border: none;
  }

  .close {
    border: 2px solid #fff;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    opacity: 1;
    text-shadow: none;
    color: #fff;
    font-size: 35px;
    line-height: 0.5;
    position: absolute;
    top: 3%;
    right: 7%;
    z-index: 9999;
    outline: 0;

    span {
      margin: auto;
      display: table;
    }
  }
  .carousel-inner .item img {
    margin: 0 auto;
    max-height: 700px;
  }
  .carousel-control{
    width: 18%;
    background-image: none!important;
    opacity: 1;
    font-size: 60px;
    position: absolute;
    top: 50%;
    bottom: initial;
    .translate(0,-50%);
  }
}