.footer-section {
  position: relative;
}
.footer {
  .footer-gray {
    background-color: #1b1b1b;
    padding: 5em 0;
  }

  .footer-black {
    background-color: #111111;
    padding: 50px 0;
  }

  .footer-title {
    font-size: 22px;
    color: #fff;
    font-weight: 100;
    margin-bottom: 1.5em;
  }
  
  p, a {
    font-size: 16px;
    color: #888888;
    font-weight: 300;
  }

  .contact-details {
    p, a {
      margin: 0;
    }

    a {
      color: #2bcaf5;
      font-weight: 600;
    }

    .contact-details-description {
      p,a {
        display: inline-block;
        margin: 3px;
      }
    }
  }

  .description {
    .bat-sites-list {
      text-align: left;

      li {
        display: block;
        margin-bottom: 15px;
        position: relative;

        &:before {
          content: '';
          display: inline-block;
          height: 6px;
          width: 6px;
          border-radius: 50%;
          background-color: #2bcaf5;
          margin-right: 10px;
          margin-bottom: 4px;
          vertical-align: middle;
        }

        a {
          font-size: 16px;
          color: #888888;
          font-weight: 300;
          display: inline-block;
        }
      }
    }
  }

  .footer-menu {
    text-align: left;
    margin-bottom: 5px;
    margin-top: 14px;

    li {
      a {
        padding: 8px 15px 6px 15px;
        border-right: 1px solid #555;
        line-height: 0;
      }
    }

    li:last-child {
      a {
        border-right: 0;
      }
    }
  }

  .footer-black {
    p, a {
      color: #555;
    }

    p {
      padding-left: 15px;
      margin-bottom: 0;
    }
  }

  .social-media-bottom {
    text-align: left;


    li:first-child {
      a {
        padding-left: 2px;
      }
    }
  }

  .footer-logos {
    li {
      padding: 0 10px;
    }
  }
}

.footer-logo {
  padding: 8em 0;
}