.header {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 1;
}

.top-header {
  text-align: right;
  background-color: #292929;
  overflow: hidden;

  p {
    font-size: 20px;
    color: #2bcaf5;
    //font-family: @ProximaSemiBold;
    font-weight: 600;
    float: right;
    margin: 0;
    padding: 13px 40px 13px 7px
  }

  .social-media-top {
    float: right;
    border-left: 1px solid #3e3e3e;
    padding: 0 3px 0 26px;
  }

  .phone-icon {
    padding: 5px;
    margin-top: 11px;
  }
}

.navbar-menu {
  background-color: rgba(0,0,0,.85);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  .navbar-header-menu {
    .navbar-brand {
      max-width: 300px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-collapse-menu{
    .navbar-nav-menu {
      float: right!important;
    margin-right: -15px;

      li {
        display: inline-block;

        a {
          font-size: 17px;
          color: #fff;
          padding: 36px 20px;

          &:hover, &:focus {
            color: #2bcaf5;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.navbar-animated {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000;
    z-index: 99;

    .top-header {
      height: 0;
    }
}