.header {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 99;
  display: block;
}

.top-header {
  text-align: right;
  background-color: #000;
  display: block;

  .phone-wrap {
    display: inline-block;
  }

  p {
    font-size: 20px;
    color: #2bcaf5;
    display: inline;
    margin: 0;
    padding: 13px 40px 13px 7px;
    font-family: @ProximaSemiBold;

    a {
      display: inline-block;
    }
  }

  .social-media-top {
    display: inline-block;
    padding: 0 3px 0 26px;
  }

  .phone-icon {
    padding: 5px;
    margin-top: 11px;

    span {
      vertical-align: middle;
    }
  }

  .top-header-logo {
    display: none;
    float: left;

    .navbar-brand {
      width: 280px;
      display: block;
      overflow: hidden;
      height: auto;
      padding-top: 10px;
      padding-bottom: 10px;

      img {
        width: auto;
      }
    }
  }
}

.navbar-menu {
  background-color: #000;
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  .navbar-header-menu {
    float: left;

    .navbar-brand {
      padding: 0;
      position: absolute;
      top: -35px;
      max-width: 300px;
      height: auto;
      .transition(all .2s ease-in);

      img {
        width: 100%;
        height: auto;
        .transition(all linear .4s);
      }
    }
  }

  .navbar-nav {
    position: inherit;
    top: -10px;
    .transition(all .4s linear);

    >li.dropdown {
      position: inherit;

      &:hover {
        .dropdown-menu {
          top: 100%;
        }

        a {
          color: #2bcaf5;
        }
      }

      >.dropdown-menu {
        width: 100%;
        padding: 0 ;
        text-align: center;
        display: block;
        .transition(all linear .4s);
        top: -200%;
        z-index: -1;
        border: 0;

        ul {
          li {
            a {
              color: #000 !important;
              padding: 20px;

              &:hover, &:focus {
                color: #2bcaf5 !important;
                background-color: transparent;
              }
            }
          }
        }
      }
    }
  }

  .navbar-collapse {
    .navbar-nav {

      li {
        display: inline-block;

        .icon-angle-down {
          &:before {
            vertical-align: middle;
            font-size: 18px;
            margin-left: 3px;
          }
        }

        a {
          font-size: 17px;
          color: #fff;
          padding: 20px 20px 25px;

          &:hover, &:focus {
            color: #2bcaf5;
            background-color: transparent;
          }
        }
      }
    }
  }
}


.current_page_item {
  a {
    color: #2bcaf5 !important;
  }
}

.logged-in .header {
    margin-top: 32px;
}

.logged-in .navbar-fixed-top .navbar-menu {
    top: 32px;
}

.navbar-fixed-top {
  position: fixed;

  .top-header {
    display: none;
  }

  .navbar-menu {
    background-color: #000;
    width: 100%;

    .navbar-collapse {
      padding: 0 15px;

      .navbar-nav {
        top: 0;
      }

      .navbar-nav li a {
        color: #fff;
        padding-top: 24px;
        padding-bottom: 24px;

        &:hover, &:focus {
          color: #2bcaf5;
          background-color: transparent;
        }
      }
    }

    .navbar-brand {
      padding-top: 10px;
      padding-bottom: 10px;
      position: relative;
      top: 0;
      max-width: 219px !important;
    }
  }
}

.site-menu-mobile {
  position: fixed;
  z-index: 2;
  top: 0;
  right: 0;
  bottom: 0;
  width: 300px;
  background: #082831;
  .translate3d(300px,0,0);
  .transition(all .3s ease-in-out);
  overflow: scroll;

  .navbar-nav {
    float: none !important;
    display: block;
    margin: 0;

    li {
      display: block;
      float: none;
      text-align: left;

      a {
        display: block;
        font-size: 16px;
        padding: 15px 20px;
        color: #e9f9fe;
        border-bottom: 1px solid #0B3946;
        text-transform: uppercase;
        .opacity(0);

        &:before {
          display: inline-block;
          vertical-align: baseline;
          margin-right: 15px;
          color: #15657a;
          /* use !important to prevent issues with browser extensions that change fonts */
          font-family: 'icomoon' !important;
          speak: none;
          font-style: normal;
          font-weight: normal;
          font-variant: normal;
          text-transform: none;
          line-height: 1;
          .transition(all ease-in-out 0.3s);

          /* Better Font Rendering =========== */
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
        }

        &:hover, &:focus {
          background-color: #2bcaf5;
          color: #fff;


          &:before {
            color: #fff;
            margin-right: 20px;
          }
        }
      }


      .menu-home {
        padding-left: 16px;
        .transition(all ease-in-out 0.4s);

        &:before {
          content: "\e912";
        }
      }

      .menu-about {
        padding-left: 18px;
        .transition(all ease-in-out 0.6s);

        &:before {
          content: "\e90d";
        }
      }

      .menu-products {
        padding-left: 20px;
        .transition(all ease-in-out 0.8s);

        &:before {
          content: "\e90c";
        }
      }

      .menu-services {
        padding-left: 22px;
        .transition(all ease-in-out 1s);

        &:before {
          content: "\e90b";
        }
      }

          .menu-trampoline {
            padding-left: 32px !important;
            .transition(all ease-in-out 1.2s);
          }

          .menu-entertainment {
            padding-left: 34px !important;
            .transition(all ease-in-out 1.4s);
          }

          .menu-branding {
            padding-left: 36px !important;
            .transition(all ease-in-out 1.6s);
          }

          .menu-3D {
            padding-left: 38px !important;
            .transition(all ease-in-out 1.8s);
          }

          .menu-software {
            padding-left: 40px !important;
            .transition(all ease-in-out 2s);
          }


      .menu-portfolio {
        padding-left: 34px;
        .transition(all ease-in-out 2.2s);

        &:before {
          content: "\e90e";
        }
      }

      .menu-process {
        padding-left: 36px;
        .transition(all ease-in-out 2.4s);

        &:before {
          content: "\e90a";
        }
      }

      .menu-news {
        padding-left: 38px;
        .transition(all ease-in-out 2.6s);

        &:before {
          content: "\e910";
        }
      }

      .menu-faq {
        padding-left: 40px;
        .transition(all ease-in-out 2.8s);

        &:before {
          content: "\e911";
        }
      }

      .menu-contact {
        padding-left: 42px;
        .transition(all ease-in-out 3s);

        &:before {
          content: "\e90f";
        }
      }


    }

    .current_page_item {
      a {
        &:before {
          color: #fff;
        }
      }
    }

    .current_page_item a {
      background-color: #2bcaf5;
      color: #fff !important;

      .dropdown-menu {

        .container {
          ul {
            li {
              a {
                padding-left: 30px;
                display: block;
                font-size: 16px;
                color: #ECE3E3;
                border-bottom: 1px solid #2B2B4E;
                text-transform: uppercase;
              }
            }
          }
        }
      }
    }

    .dropdown {
      .dropdown-menu {
        display: block;
        position: relative;
        padding: 0;
        top: 0;
        z-index: 1;
        float: none;
        min-width: 0;
        width: 100%;
        background-color: transparent;
        box-shadow: none;
        margin: 0 !important;
        border: none;

        .container {
          width: 100%;
          padding: 0;

          ul {
            li {
              a {
                padding-left: 30px;

                &:before {
                  content: "\e904";
                }
              }
            }
          }
        }
      }
    }
  }
}

.site-content {
  .transition(all .3s ease-in-out);
  position: relative;
  z-index: 2;
  height: 100%;
  width: 100%;
}

.push-left {
  position: relative;
  .translate3d(-300px,0,0);
}

.push-open {
  .translate3d(0,0,0);

  .navbar-nav {

    li {

      a {
        padding-left: 15px!important;
        .opacity(1);
      }


    }

    .current_page_item a {

      .dropdown-menu {

        .container {
          ul {
            li {
              a {
                padding-left: 30px !important;
              }
            }
          }
        }
      }
    }

    .dropdown {
      .dropdown-menu {

        .container {

          ul {
            li {
              a {
                padding-left: 30px !important;
              }
            }
          }
        }
      }
    }
  }
}

.navbar-toggle-menu {
  float: right;
  width: 60px;
  height: 60px;
  background-color: #000;
  padding: 3px 15px 6px;
  border: none;
  border-radius: 30px;
  display: none;
  position: fixed;
  right: 20px;
  top: 10px;
  margin: 0;
  z-index: 3;
  .opacity(1);
  .transition(all ease-in-out .3s);

  .icon-bar {
    width: 100%;
    height: 2px;
    background-color: #fff;
    display: block;
    line-height: 0;
    margin: 6px 0
  }
}

.navbar-toggle-menu-none {
  .opacity(0);
}