.header {
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9;
  min-width: 1024px;
  display: block;
}

.top-header {
  text-align: right;
  background-color: #292929;

  p {
    font-size: 20px;
    color: #2bcaf5;
    //font-family: @ProximaSemiBold;
    font-weight: 600;
    float: right;
    margin: 0;
    padding: 13px 40px 13px 7px
  }

  .social-media-top {
    float: right;
    border-left: 1px solid #3e3e3e;
    padding: 0 3px 0 26px;
  }

  .phone-icon {
    padding: 5px;
    margin-top: 11px;
  }
}

.navbar-menu {
  background-color: rgba(0,0,0,.85);
  margin: 0;
  padding: 0;
  border: 0;
  border-radius: 0;
  .navbar-header-menu {
    float: left;

    .navbar-brand {
      max-width: 300px;
      height: auto;

      img {
        width: 100%;
        height: auto;
      }
    }
  }

  .navbar-collapse {
    .navbar-nav {
      li {
        display: inline-block;

        a {
          font-size: 17px;
          color: #fff;
          padding: 36px 20px;

          &:hover, &:focus {
            color: #2bcaf5;
            background-color: transparent;
          }
        }
      }
    }
  }
}

.navbar-fixed-top {
  background-color: #000;

  .navbar-collapse {
    padding: 0 15px;

    .navbar-nav li a {
      font-size: 17px;
      color: #fff;
      padding-top: 31px;
      padding-bottom: 31px;
    }
  }

  .navbar-brand {
    padding-top: 10px;
    padding-bottom: 10px;
  }
}