.social-media {
    li {
      a {
        font-size: 20px;
        color: #2bcaf5;
        padding: 21px 13px;
        display: block;
        line-height: 0;

        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
        }
      }
    }
}

.process-grid {
  margin: 2em 0 3em;

  ul {
    li {
      width: 24%;
      vertical-align: top;

      .process-grid-item-title {
        font-size: 28px;
        color: #272727;
        margin-bottom: 20px;
        font-family: @ProximaLight;
      }

      .process-grid-description {
        p {
          font-size: 16px;
          font-family: @ProximaNova;
        }
      }

      .process-grid-item-icon {
        margin: 3em 0;
        min-height: 68px;
      }
      
      .process-icon-2 {
        margin-top: 2px;
      }
    }
  }
}

.client-grid {
  margin: 5em 0;

  ul {
    li {
      padding: 0 15px;

      img {
        width: 75%;
        .opacity(0.4);
        .transition(@transition-3s);
      }

      &:hover {
        img {
          .opacity(1);
        }
      }
    }
  }
}

.client-list {
  margin-bottom: 50px;
}

.news-list {
  .news-list-item {
    margin-bottom: 6em;
  }

  .news-list-item-img {
    margin-bottom: 20px;
    height: 400px;
    overflow: hidden;
    position: relative;

    &:hover {
      &:before {
        border: 10px solid #fff;
        .opacity(0.5);
      }
    }

    &:before {
      border: 0 solid #000;
      left: 0;
      top: 0;
      bottom: 0;
      right: 0;
      content: '';
      position: absolute;
      .transition(all .3s ease);
      z-index: 1;
    }


    img {
      width: 100%;
      position: absolute;
      top: 50%;
      .translate(0, -50%);
    }

  }

  .description {
    margin-bottom: 2em;
  }

  .btn-primary {
    padding: 10px 45px;
  }
}

.single-list {
  text-align: left;
  li {
    p {
      padding-left: 28px;
      position: relative;
      line-height: 30px;
      max-width: 100%;

      &:before {
        content: '';
        border-radius: 50px;
        position: absolute;
        border: 5px solid #2bcaf5;
        top: 50%;
        .translate(-50%, -50%);
        left: 5px;
      }
    }
  }
}

.pc-list {
  position: relative;
  text-align: left;

  li {
    display: inline-block;
    position: absolute;
    cursor: pointer;

    h3 {
      color: #575757;
    }
  }

  li:nth-child(2){
    left: 50%;
    transform: translate(-50%,0%);
  }

  li:last-child{
    right: 0;
  }
}


.news-list-item-img-single  {
  text-align: center;
      margin-bottom: 4em;
}


.product-list-item {
  position: relative;
  padding: 8em 0 16em;

  .product-list-item-bg {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .opacity(0.1);
  }

  &:first-child{
    padding-top: 17em;
    padding-bottom: 15em;
  }
  .product-img {
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
  }

  .product-list-item-content {
    width: 50%;
    float: left;

    &:after {
      content: '';
      display: table;
      clear: both;
    }
  }

  .product-list-item-img-big {
    width: 800px;
    height: 550px;
    margin: 0 auto;
    position: relative;

    .product-list-item-img-small {
      position: absolute;
      width: 400px;
      height: 300px;
      bottom: -100px;
      right: -130px;
    }
  }

  .product-list-item-container {
    min-width: 2000px !important;
  }

  .product-list-item-desc-wrap {
    padding-left: 8em;

    .content {
      max-width: 650px;
      margin: 0 auto;
      position: relative;
      z-index: 1;
    }
  }

  .product-title {
    font-family: @ProximaBold;
    font-size: 55px;
    padding-bottom: 20px;
    padding-top: 25px;
  }

  p {
    font-size: 20px;
  }

  .product-title, p {
    color: #fff;
  }

  .description {
    padding-bottom: 3em;
  }

  .btn-primary {
    background-color: transparent;
    border: 2px solid #fff;
  }
}

.product-list-item-right {
  .product-list-item-desc-wrap {
    padding-left: 0;
    padding-right: 8em;
  }

  .product-list-item-img-big {
    .product-list-item-img-small {
      right: inherit;
      left: -130px;
    }
  }
}