.social-media {
    li {
      a {
        font-size: 20px;
        color: #2bcaf5;
        padding: 21px 13px;
        display: block;
        line-height: 0;

        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
        }
      }
    }
}

.process-grid {
  margin: 2em 0 3em;

  ul {
    li {
      width: 24%;
      vertical-align: top;

      .process-grid-item-title {
        font-size: 28px;
        color: #272727;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .process-grid-description {
        p {
          font-size: 16px;
        }
      }

      .process-grid-item-icon {
        margin: 3em 0;
      }
    }
  }
}

.client-grid {
  margin: 5em 0;

  ul {
    li {
      padding: 0 15px;

      img {
        .opacity(0.4);
        .transition(@transition-3s);
      }

      &:hover {
        img {
          .opacity(1);
        }
      }
    }
  }
}

.news-list {
  .news-list-item {
    margin-bottom: 6em;
  }

  .news-list-item-img {
    margin-bottom: 20px;
    height: 400px;
    overflow: hidden;
    position: relative;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #000;
      .opacity(0);
      z-index: 1;
      .transition(@transition-3s);
    }

    &:hover {
      .social-media-share {
        right: 0;
      }

      &:before {
        .opacity(0.5);
      }
    }

    img {
      width: 100%;
      position: absolute;
      top: 50%;
      .translate(0, -50%);
    }

    .social-media-share, .btn-arrow {
      position: absolute;
      bottom: 0;
      height: 70px;
      background-color: #fff;
      z-index: 2;

      img {
        width: auto;
        position: relative;
      }
    }

    .social-media-share {
      padding: 0 15px;
      right: -350px;
      max-width: 350px;
      .transition(@transition-3s);
    }


    .btn-arrow {
      width: 75px;
      border: none;
      padding-top: 2em;
      right: 0;
    }


  }

  .description {
    margin-bottom: 2em;
  }

  .btn-primary {
    padding: 10px 45px;
  }
}

.single-list {
  text-align: left;
  li {
    p {
      padding-left: 28px;
      position: relative;
      line-height: 30px;
      max-width: 100%;

      &:before {
        content: '';
        border-radius: 50px;
        position: absolute;
        border: 5px solid #2bcaf5;
        top: 50%;
        .translate(-50%, -50%);
        left: 5px;
      }
    }
  }
}

.pc-list {
  position: relative;
  text-align: left;

  li {
    display: inline-block;
    position: absolute;
    cursor: pointer;

    h3 {
      color: #575757;
    }
  }

  li:nth-child(2){
    left: 50%;
    transform: translate(-50%,0%);
  }

  li:last-child{
    right: 0;
  }
}