.social-media {
    li {
      a {
        font-size: 20px;
        color: #2bcaf5;
        padding: 21px 13px;
        line-height: 0;
        display: block;
        .scale(1,1);

        &:hover, &:focus {
          text-decoration: none;
          color: #fff;
           .scale(1.1,1.1);
        }
      }
    }
}

.process-grid {
  margin: 2em 0 3em;

  ul {
    li {
      width: 24%;

      .process-grid-item-title {
        font-size: 28px;
        color: #272727;
        font-weight: 300;
        margin-bottom: 20px;
      }

      .process-grid-description {
        p {
          font-size: 16px;
        }
      }

      .process-grid-item-icon {
        margin: 3em 0;
      }
    }
  }
}

.client-grid {
  margin: 5em 0;

  ul {
    li {
      padding: 0 15px;

      img {
        .opacity(0.4);
        .transition(@transition-3s);
      }

      &:hover {
        img {
          .opacity(1);
        }
      }
    }
  }
}

.news-list {
      padding-right: 2em;

  .news-list-item {
    margin-bottom: 6em;
  }

  .news-list-item-img {
    margin-bottom: 20px;

    img {
      width: 100%;
    }
  }

  .description {
    margin-bottom: 2em;
  }

  .btn-primary {
    padding: 10px 45px;
  }
}

.single-list {
  text-align: left;
  li {
    p {
      padding-left: 28px;
      position: relative;
      line-height: 30px;
      max-width: 100%;

      &:before {
        content: '';
        border-radius: 50px;
        position: absolute;
        border: 5px solid #2bcaf5;
        top: 50%;
        .translate(-50%, -50%);
        left: 5px;
      }
    }
  }
}

.sidebar {
    .post-list {
          margin-bottom: 3em;
          
        ul {
            li {
              display: block;

              &:after  {
                content: '';
                display: table;
                clear: both;
              }

              .sidebar-img {
            width: 100px;
            height: 100px;
                float: left;
                    margin-bottom: 10px;
              }

              .sidebar-description {
               max-width: 250px;
            float: right;
            text-align: left;
            padding-left: 15px;
                p {
                    font-size: 16px;
                        line-height: 1.5;
                        color: #202020;
                }
              }
            }
      }
    }

    .latest-update {
      background-color: #f1f1f1;
      padding: 40px 30px;

      h3 {
        font-size: 26px;
        color: #202020;
        font-weight: 300;
        margin-top: 0;
        margin-bottom: 1em;
      }

      .form-control {
          font-size: 16px;
          color: #616060;
          font-family: proxima-nova,sans-serif;
          font-weight: 400;
          border: none;
          border-radius: 5px;
          padding: 15px 20px;
          height: 60px;
          margin-bottom: 2em;
      }

            .btn-primary {
              font-size: 16px;
              border-radius: 5px;
              padding: 10px 20px;
          }
}
}

.bat-sites-list {
  li {
    a {
      display: inline-block;
    }
  }
}