
@media(max-width: 1800px) {

  .our-process-holder .grid-we-do-img-wrap .product-img {
    right: 15%;
  }
}

@media(max-width: 1500px) {

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 30%;

    img {
      max-width: 600px;
      height: auto;
    }
  }
}


@media(max-width: 1200px) {
	.navbar-menu .navbar-header-menu .navbar-brand {
	    max-width: 295px;
	}

  .our-process-holder .grid-we-do-img-wrap .product-img img {
    max-width: 500px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 35%;
  }
}

@media(max-width: 1100px) {
	.navbar-menu .navbar-header-menu .navbar-brand {
      max-width: 277px;
	}

    .navbar-menu .navbar-collapse .navbar-nav li a {
      padding: 33px 20px;
    }

	.container-fluid {
	    padding: 0 1em;
	}
}

@media(max-width: 1024px) {

  body {
    overflow: visible !important;
  }

	.col-md-5 {
	    width: 41.66666667% !important;
	}

	.col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9 {
	    float: left !important;
	}

	.col-md-7 {
	    width: 58.33333333% !important;
	}

	.container {
	    width: 980px !important;
	}

	.col-md-3 {
	    width: 25% !important;
	}

	.col-md-4 {
	    width: 33.33333333% !important;
	}

	.col-md-6 {
	    width: 50% !important;
	}

	.col-md-8 {
	    width: 66.66666667%!important;
	}
}

@media(max-width: 767px) {
	.navbar-menu .navbar-header-menu .navbar-brand {
	    max-width: 265px;
	}
  .navbar-menu .navbar-collapse .navbar-nav li a {
    padding: 28px 20px;
  }
}