
@media(max-width: 2700px) {
  .portfolio-item-grid-wrap .portfolio-item-grid-img {
    height: 350px;
  }

  .portfolio-section-holder .portfolio-item-grid-wrap {
    height: 350px;
  }
}

@media(max-width: 2000px) {
  .portfolio-item-grid-wrap .portfolio-item-grid-img {
    height: 300px;
  }

  .portfolio-section-holder .portfolio-item-grid-wrap {
    height: 300px;
  }

  //===== Product =====\\
  .product-list-item .product-list-item-img-big {
    width: 700px;
    height: 450px;
  }

  .product-list-item .product-list-item-img-big .product-list-item-img-small {
    width: 350px;
    height: 250px;
    right: -60px;
  }

  .product-list-item-right .product-list-item-img-big .product-list-item-img-small {
    left: -60px;
  }
  //===== Product =====\\

  .banner-software .banner-caption {
    left: 10%;
  }

  .banner-software .banner-img {
    right: 7%;
  }
}

@media(max-width: 1800px) {

  .our-process-holder .grid-we-do-img-wrap .product-img {
    right: 15%;
  }

  .banner-prod-trampoline {
    height: 1000px;
  }

  .section-innovation .innovation-wrap {
    right: 0;
  }

  .section-innovation .content-left {
    left: 0;
  }

}


@media(max-width: 1700px) {
  .warning-title img {
    width: 50px;
  }

  .warning-title {
    font-size: 45px;
  }

  .warning-wrap .warning-grid-lg {
    max-width: 550px !important;
  }

  .section-warning .description p {
    font-size: 18px;
  }

  .mw-410 {
    min-width: 345px;
  }

  .warning-wrap .warning-grid {
    max-width: 442px;
  }

  .warning-wrap {
    max-width: 1420px;
  }

  .pc_container .pc_item .desc .pc--desc h1 {
    font-size: 50px;
    letter-spacing: 10px;
  }

  .pc_container .pc_item .desc {
    width: 35%;
  }
}


@media(max-width: 1600px) {

  .container-custom {
    max-width: 1300px;
  }

  .banner-software .banner-caption {
    left: 5%;
  }

  .banner-software .banner-img {
    right: 0%;
  }
}


@media(max-width: 1500px) {

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 30%;

    img {
      max-width: 600px;
      height: auto;
    }
  }

  .our-process-holder .grid-we-do-img-wrap .product-content h2 {
    font-size: 70px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-content p {
    font-size: 18px;
  }

  .pc_container .pc_item .desc .pc--desc p {
    max-width: 85%;
  }

  //===== Product =====\\

  .product-list-item .product-list-item-img-big {
    width: 600px;
    height: 400px;
  }

  .product-list-item .product-list-item-img-big .product-list-item-img-small {
    width: 300px;
    height: 200px;
    right: -80px;
  }

  .product-list-item-right .product-list-item-img-big .product-list-item-img-small {
    left: -80px;
  }

  //===== Product =====\\

}

@media(max-width: 1405px) {
  .warning-wrap {
    max-width: 1135px;
  }

  .mw-410 {
    min-width: 345px !important;
  }

  .warning-wrap .warning-grid-lg {
    max-width: 465px!important;
  }

  .section-warning .description p {
    font-size: 15px;
  }

  .warning-wrap .warning-grid {
    max-width: 287px;
  }

  .container-custom {
    max-width: 1100px;
  }

  .section-intro {
    .primary-title {
      font-size: 50px;
    }

    .secondary-title {
      font-size: 25px;
    }

    .btn-primary {
      font-size: 15px;
    }
  }

  .navbar-menu .navbar-collapse .navbar-nav li a {
    font-size: 16px;
    padding: 15px 15px 25px;
  }

  .navbar-menu .navbar-header-menu .navbar-brand {
    max-width: 260px;
  }


  .social-media li a {
    padding-bottom: 15px;
  }

  .top-header p {
    padding-bottom: 8px;
  }

  .footer .footer-gray .content {
    padding: 5em 2em;
  }

  .banner-software .banner-img {
    max-width: 800px;
  }

}

@media(max-width: 1340px) {
  .banner-prod-trampoline {
    height: 900px;
  }

  //===== Product =====\\

  .product-list-item .product-list-item-img-big {
    width: 550px;
    height: 350px;
  }

  .product-list-item .product-list-item-img-big .product-list-item-img-small {
    width: 250px;
    height: 180px;
    right: -70px;
    bottom: -75px;
  }

  .product-list-item-right .product-list-item-img-big .product-list-item-img-small {
    left: -70px;
    bottom: -75px;
  }

  .product-list-item .product-title {
    padding-top: 0px;
    font-size: 50px;
  }

  .product-list-item {
    padding: 6em 0 10em;
  }

  .product-list-item:first-child {
    padding-top: 14em;
    padding-bottom: 10em;
  }

  //===== Product =====\\

}

@media(max-width: 1280px) {
  .grid--product--list {
    .grid-we-do-img-wrap.grid-wrap-black {
      min-height: 0!important;
    }

    .grid-product-wrap, .grid-product-type {
      height: 485px!important;
    }

    .grid-product-type:after {
      border-right: 98px solid transparent;
    }

    .grid-product-type-green:after {
      border-top: 35.9em solid #24da76;
    }

  }

  .product-section-item:nth-child(even) .grid-product-wrap {
    background-size: 77%;
  }

  .grid-product-type-red:before {
    left: 0.4em !important;
  }

  .grid-product-type-blue:before {
    right: -5.2em !important;
  }

  .transparent-btn {
    margin-top: 6em;
  }

  .pc_container .pc_item .desc .pc--desc h1 {
    font-size: 45px;
    letter-spacing: 5px;
  }


  .section-featured .white-btn-bg {
    padding: 10px 35px;
  }

  .section-portfolio {
    .btn-primary {
      padding: 10px 40px;
      font-size: 18px;
    }
  }
}


@media(max-width: 1200px) {
  .our-process-holder .grid-we-do-img-wrap .product-img img {
    max-width: 500px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 35%;
  }

  .our-process-holder .grid-we-do-img-wrap .product-content h2 {
    font-size: 60px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-content p {
    font-size: 16px;
  }

  .section-single-group-img .single--img-top .col-md-3 {
    width: 33.333% !important;
  }

  .navbar-fixed-top {
    .navbar-brand {
      display: none;
    }

    .navbar-right {
      float: none !important;
      text-align: center;

      li {
        float: none;
      }
    }
  }

  .footer .footer-gray {
    padding-left: 3em;
  }

  .top-header p {
    font-size: 18px;
    padding: 14px 40px 10px 7px;
  }

  .social-media li a {
    font-size: 18px;

  }

  .top-header .social-media-top {
    padding: 0 3px 0 10px;
  }

  .navbar-menu .navbar-header-menu .navbar-brand {
    max-width: 240px;
    top: -38px;
  }

  //===== Product =====\\

  .product-list-item .product-list-item-img-big {
    width: 500px;
    height: 300px;
  }

  //===== Product =====\\

  .banner-software .banner-img {
    max-width: 700px;
  }

  .banner-software .banner-caption .banner-title {
    font-size: 55px;
  }

}

@media(max-width: 1160px) {
  .mw-410 {
    min-width: 335px!important;
  }

  .warning-wrap {
    max-width: 1080px;
  }

  .warning-title {
    font-size: 40px;
  }

  .warning-wrap {
    padding-left: 0;
  }

  .warning-title img {
    margin-left: 20px;
  }

  .mw-410 {
    min-width: 310px!important;
  }

  .navbar-menu .navbar-collapse .navbar-nav li a {
    padding: 20px 15px 25px;
  }

  .modal-iframe .modal-dialog {
    width: 800px;
  }

  //===== Product =====\\

  .product-list-item .product-list-item-img-big {
    width: 450px;
  }

  //===== Product =====\\
}

@media(max-width: 1100px) {

	.container-fluid {
	    padding: 0 1em;
	}

  .grid-we-do {
    padding-top: 10em;
  }

  .warning-wrap .warning-grid {
    max-width: 255px;
    padding: 0 13px;
  }

  .warning-wrap .warning-grid-lg {
    max-width: 450px!important;
  }

  .mw-410 {
    min-width: 0 !important;
    max-width: 300px !important;
  }

  .warning-title img {
    margin-left: 6px;
  }

  .footer .footer-gray .content {
    padding: 5em 10px;
  }

  .banner-software .banner-img {
    max-width: 600px;
  }

  .banner-software {
    height: 800px;
  }


}

@media(max-width: 1024px) {

  body {
    overflow: visible !important;
  }

  section[data-section-name=planning] .grid-we-do-img-wrap .product-content {
    top: 58%;
  }

  .pc_container .pc_item .desc {
    width: 40%;
  }

  .pc_container .pc_item .desc:before {
    border-top: 900px solid transparent;
  }

  .warning-title {
    font-size: 30px;
    padding-top: 6px;

    img {
      width: 40px;
    }
  }

}


@media(max-width: 991px) {

  .top-header {
    text-align: center;
  }

  .navbar-menu {

    .dropdown-menu {
      .container {
        min-width: 0 !important;
        width: auto !important;
        padding: 0;
      }

      ul {
        text-align: left;
      }
    }

    .navbar-header-menu {
      float: none;
      padding-bottom: 15px;

      .navbar-brand {
        position: inherit;
        top: 0;
      }
    }

    .navbar-header-menu .navbar-toggle-menu {
      display: block;
      margin: 0 15px;
    }

    .navbar-nav > li.dropdown > .dropdown-menu ul li a {
      color: #525252 !important;
      padding-left: 30px;
    }

    .navbar-nav > li.dropdown > .dropdown-menu {
      top: 0;
      z-index: 1;
      position: relative;
      float: none;
      box-shadow: none;
      .transition(none);
    }

    .navbar-collapse {
      position: fixed;
      z-index: 10;
      background: #fff;
      width: 100%;
      padding: 0;
      margin: 0;
      top: 0;
      right: -300px;
      width: 300px;
      height: 100%;
      -webkit-transition: all 0.4s ease-in-out;
      -o-transition: all 0.4s ease-in-out;
      transition: all 0.4s ease-in-out;
      padding: 0 !important;
      max-height: none;


      .navbar-nav {
        width: 100%;
        float: none!important;
        margin: 60px 0 0;
        text-align: left;
        position: relative;

        li {
          display: block;
          float: none;
          position: relative;

          a {
            color: #000;
            padding-top: 20px;
            padding-bottom: 20px;
            border-bottom: 1px solid #E8E6E6;
          }
        }
      }

    }


    .close-wrap {
      display: block;
    }

    .is-open {
      right: 0;
    }

  }

  .navbar-fixed-top {


    .navbar-menu .navbar-collapse .navbar-nav li a {
      color: #000;
    }

    .top-header {
      .opacity(0);
    }

    .navbar-menu {
      background-color: transparent;
      width: auto;
      min-width: 0;
      right: 15px;
      top: 15px;


      .navbar-header-menu {

        .navbar-brand {
          display: none;
        }

        .navbar-toggle-menu {
          display: block;
          position: fixed;
          right: 25px;
          top: 25px;
          margin: 0;
        }
      }
    }
  }


  .content-world {
    max-width: none;
    text-align: center;
  }

  .portfolio-item-grid-wrap {
    width: 50%;
    margin-bottom: 2.5em;

    .portfolio-item-grid-img {
      margin-bottom: 2.5em;
    }
  }

  .section {
    padding: 3em 0;
  }

  .footer {
    .footer-gray {
      padding-top: 3em;
      padding-bottom: 3em;

      .content {
        min-height: 0;
        padding-top: 1em;
        padding-bottom: 1em;
        border-right: none;
      }
    }
  }

  .section-innovation .content-left {
    padding-left: 2em;
  }

  .primary-title {
    font-size: 50px;
  }

  .secondary-title {
    font-size: 25px;
  }

  .btn-primary {
    font-size: 18px;
    padding: 15px 40px;
  }

  .section-innovation {
    min-height: 600px;

    .innovation-wrap {
      width: 1000px;
      height: auto;
      right: -40% !important
    }
  }

  .pc_container {
    .pc_item {
      .desc  {
        .pc--desc {
          h1 {
            font-size: 40px;
          }
        }
      }
    }

  }

  .primary-title, .secondary-title {
    margin-bottom: 15px;
  }
}

@media(max-width: 767px) {
	.navbar-menu .navbar-header-menu .navbar-brand {
	    max-width: 265px;
	}
  .navbar-menu .navbar-collapse .navbar-nav li a {
    padding: 28px 20px;
  }

  .footer {
    .footer-black {
      p {
        margin-bottom: 10px;
      }

      .pull-left {
        float: none !important;
        text-align: center;

        .footer-menu {
          text-align: center;
        }
      }

      .pull-right {
        float: none !important;
      }
    }
  }

  .pc_container {
    .pc_item {
      height: 550px;

      .desc {
        .pc--desc {

          h1 {
            font-size: 35px;
          }

          p {
            font-size: 16px;
          }
        }
      }
    }
  }
}

@media (max-width: 667px) {
  .social-media li a {
    padding-top: 5px;
  }
}

@media (max-width: 600px) {
  .banner-caption {
    .banner-title {
      font-size: 65px;
    }
  }

  .blue-title {
    font-size: 25px;
  }
}

@media(max-height: 930px) {
  .pc_container .pc_item {
    height: 600px;
  }

  .gap-100-1 {
    height: 70px;
  }

  .pc-list li h3 {
    margin: 0;
  }

  .gap-100-2 {
    height: 80px;
  }
  .navbar-fixed-top .navbar-menu .navbar-collapse .navbar-nav {
    margin-top: 6px;
  }

  .product-section-guarantee {
    .primary-title {
      margin-top: 1em;
      font-size: 45px;
    }

    .process-grid {
      margin-top: 0;
    }

    .btn-primary {
      margin-top: 0;
    }
  }
}

@media(max-height: 800px) {
  .pc_container .pc_item {
    height: 540px;
  }

  .gap-100-1 {
    height: 50px;
  }

  .gap-100-2 {
    height: 60px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 23%;
  }

  .modal-iframe .modal-dialog iframe {
    height: 550px;
  }

  .modal-gallery .carousel-inner .item img {
    max-height: 600px;
  }

  .navbar-fixed-top .navbar-menu .navbar-collapse .navbar-nav li a {
    padding-top: 20px;
    padding-bottom: 21px;
  }

  .navbar-menu .navbar-nav > li.dropdown > .dropdown-menu ul li a {
    padding: 15px;
  }

}

@media(max-height:750px) {
  .pc_container .pc_item {
    height: 450px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-img img {
    max-width: 500px;
  }

  .our-process-holder .grid-we-do-img-wrap .product-img {
    top: 25%;
  }

  .navbar-fixed-top .navbar-menu .navbar-collapse {
    overflow-x: scroll;
  }
}

@media(max-height:650px) {
  .pc_container .pc_item .desc .pc--desc h1 {
    font-size: 50px;
  }

  .pc-list li h3 {
    font-size: 18px;
  }

  .pc_container .pc_item {
    height: 400px;
  }

  .pc_container .pc_item .btn-primary {
    padding: 10px 35px;
  }

  .pc_container .pc_item .desc {
    width: 520px;
  }

  .pc_container .pc_item .desc .pc--desc h1 {
    font-size: 40px;
  }

  .our-process-holder .process-list ul li a {
    padding-right: 30px;
  }

  .our-process-holder .process-list {
    top: 55%;
  }

  .modal-iframe .modal-dialog iframe {
    height: 500px;
  }

  .modal-gallery .carousel-inner .item img {
    max-height: 550px;
  }

}