.section-intro {

  .content {
    padding-bottom: 2em;
  }

}

.section-process {
  .description {
    max-width: 780px;
  }

  .process-grid-description {
    margin-bottom: 1em;
    min-height: 125px;
  }
}

.section-warning {
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 50px 15px;
  position: relative;
  z-index: 2;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,176,34,0.85);
  }

  .description {
    p {
      font-size: 22px;
      color: #fff;
      margin: 0;
    }
  }
}

.section-client {
  padding-bottom: 8em;
  border-top: 1px solid rgba(0,0,0,0.05);

  .description {
    max-width: 790px;
  }
}

.section-innovation {
  .transition(color 0.6s ease-in);
  display: block;
  position: relative;
  background-color: #000;
  padding-bottom: 0;
  max-height: 780px;
  overflow: hidden;


  .primary-title, .secondary-title {
    color: #fff;
  }

  .primary-title {
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 3px 20px rgba(150, 150, 150, 0.4);
  }

  .secondary-title {
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  .content-left {
    max-width: 550px;
    text-align: right;
    padding-left: 5em;
    position: absolute;
    top: 10%;
  }

  .innovation-img {
    width: 100%;
  }
}

.section-tagline {
  padding-bottom: 8em;
}

.section-about-intro {
  padding-bottom: 15em;
  padding-top: 7em;
}

.section-we-do {
  background-color: #000;

  .primary-title {
    color: #fff;
  }
}

.product-section {
  position: relative;
  overflow-x: hidden;
  min-width: 1024px;
  /*min-height: 768px;*/
  min-height: 595px;
}

.section-black {
  background-color: #000;
  color: #fff;
  position: relative;
}

.section--process {
  position: absolute;
  top: 50%;
  left: 50%;
  .translate(-50%,-50%);

  h3 {
    color: #fff;
  }

  .description {
    p {
      color: #626262 !important;
    }
  }

  .process-grid-item-title {
    color: #d6d6d6 !important;
  }

  .process-grid-description {
    p {
      color: #636363 !important;
    }
  }

  .content, .process-grid {
    position: relative;
  }
}

.our-process-holder {
  .grid-we-do-img-wrap {
    height: 100%!important;

    .grid--img {
      background-attachment: fixed!important;
    }
  }
}

.our-process-holder [data-section-name="guarantee"] {
  .grid--img {
    &:before {
      .opacity(.95);
    }
  }
}

.overlay--effects {

  .grid-wrap-black .grid--img {
    .scale(1,1);
    .transition(all ease-in-out 0.6s)
  }

  .overlay--hover {
    position: relative;
    .transition(color 0.6s ease-in);
    display: block;

    &:hover {
      .transition(color 0.6s ease-out);

      .overlay, .overlay-portfolio {
        .opacity(0.95);
        background-color: #144e92;
        .transition(all 1s ease-in-out);
        -webkit-transform: translateZ(0);
        visibility: visible;
        -webkit-backface-visibility: hidden;
      }

      .grid-wrap-black .grid--img {
        .scale(1.1,1.1);
      }
    }
  }
}

.overlay, .overlay-portfolio {
  position: absolute;
  height: 100%;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  background-color: rgba(0,0,0,0.40);
  .transition(background-color 1s ease);
}

.overlay-section {
  background-color: transparent;
}

.section-overlay {
  .transition(color 0.6s ease-out);

  .overlay-section {
    .opacity(0.5);
    background-color: #000;
    .transition(all 1s ease-in-out);
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
  }

  .btn-primary:hover {
    border-color: #fff;
    color: #fff;
  }
}

.section--portfolio {
  overflow: hidden;

  .col-md-4 {
    overflow: hidden;
  }

  .grid-we-do-img-wrap {
    overflow: visible!important;
  }

  a {
    &:hover {
      .grid-content {
        .grid-border {
          width: 40%;
        }
      }
    }

    .grid-content {
      z-index: 1;
      .opacity(1);
      .transition(all 0.5s ease-in-out);

      .grid-border {
        .transition(width 1s ease);
      }
    }
  }

  .grid--img {
    &:before {
      content: '';
      background-color: #000;
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      opacity: .5;
    }
  }

  .grid-title {
    font-weight: 400;
  }
}

.white-btn-bg {
  background: #fff!important;
  color: #2bcaf5!important;
  font-size: 16px!important;
  margin: 0 auto;

  &:hover {
    color: #fff!important;
    background-color: #27a8de!important;
  }
}
.warning-section {
  height: 854px !important;
  z-index: 2;
}
.grid-product-type {
  height: 595px!important;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  &:before {
    content: '';
    width: 200px;
    position: absolute;
    top: 0;
    right: -14em;
    border-right: 103px solid transparent;
    z-index: 9;
  }

  &:after {
    content:'';
    background-repeat: no-repeat;
    width: 100%;
    height: 319px;
    position: absolute;
    bottom: 0;
    left: 8.3em;
    z-index: 9;
  }

  h1 {
    margin: 0;
  }

  .grid-product-type-header {
    position: absolute;
    top: 10em;
    left: 8em;
    z-index: 10;
  }
}
.grid-product-type-green {
  background-color: #24da76;

  &:before {
    border-top: 42.5em solid #24da76;
  }

  &:after {
    background-image: url('/images/products/p1-1.png');
  }

  h1 {
    z-index: 10;
  }
}

.grid-product-type-blue {
  background-color: #2bcaf5;

  &:before {
    border-top: 42.5em solid #2bcaf5;
  }
   &:after {
    //background-image: url('/images/products/star.png');
    left: 23.2em;
  }
}


.grid-product-type-red {
  height: 595px!important;
  background-color: #ee2134;
  background-repeat: no-repeat;
  background-position: bottom;
  position: relative;

  h1 {
    z-index: 10;
    margin: 0;
  }

  &:before {
    content: '';
    width: 200px;
    position: absolute;
    border-left: 0;
    z-index: 9;
    left: -200px;
    top: 0;
    bottom: 0;
    border-top: 44em solid transparent;
    border-right: 100px solid #ee2134;
  }
  &:after {
    content:'';
    background-repeat: no-repeat;
    width: 100%;
    height: 319px;
    position: absolute;
    bottom: 0;
    left: 8.3em;
    z-index: 9;
    background: url('../images/title/ninja-img.png');
    left: -5.7em;
    background-repeat: no-repeat;
    top: 10%;
    height: 100%;
  }
}



.grid-product-wrap {
  height:595px!important;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  background-attachment: fixed;
  .transition(background-color 1s ease);

  &:before {
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    .opacity(0.6);
    .transition(background-color 1s ease);
  }

  &:hover {
    &:before {
      background-color: transparent;
      .transition(all 1s ease-in-out);
      -webkit-transform: translateZ(0);
      visibility: visible;
      -webkit-backface-visibility: hidden;
    }
  }
}

.grid-product-wrap-green {
  background-color: #24da76;
  background-position: 4em 0em;
  &:before {
    background-color: #57b86a;
    
  }
}

.grid-product-wrap-red {
  background-color: #90261e;
  background-position: 0em -9em;
  &:before {
    background-color: #90261e;
  }
}

.grid-product-wrap-blue {
  background-color: #000;
  background-position: -11em 4em;
  &:before {
    background-color: #135b6e;
  }
}

.grid-product-title {
  color: #fff;
  font-size: 70px;
}

.wrap-overlay {
  &:before {
    background-color: transparent;
    .transition(all 1s ease-in-out);
    -webkit-transform: translateZ(0);
    visibility: visible;
    -webkit-backface-visibility: hidden;
  }
}
