.section-intro {
  position: relative;

  .content {
    padding-bottom: 2em;
  }

}

.section-process {
  .description {
    max-width: 780px;
  }

  .process-grid-description {
    margin-bottom: 1em;
  }
}

.section-warning {
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 60px 0;
  position: relative;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(242,176,34,0.85);
  }

  .description {
    p {
      font-size: 22px;
      color: #fff;
      margin: 0;
    }
  }
}

.section-client {
  padding-bottom: 8em;
  .description {
    max-width: 790px;
  }
}

.section-innovation {
  background-size: cover;
  background-position: left center;
  background-repeat: no-repeat;
  height: 700px;


  .primary-title, .secondary-title {
    color: #fff;
  }

  .primary-title {
    text-transform: uppercase;
    font-weight: 700;
    text-shadow: 0px 3px 20px rgba(150, 150, 150, 0.4);
  }

  .secondary-title {
    font-weight: 300;
    margin-bottom: 1.5em;
  }

  .content-left {
    max-width: 550px;
    text-align: right;
    padding-left: 5em;
  }

  .btn-primary {
    border-radius: 8px;
  }
}

.section-tagline {
  padding-bottom: 6em;
}

.section-about-intro {
  padding-bottom: 15em;
  padding-top: 7em;
}

.section-we-do {
  background-color: #000;

  .primary-title {
    color: #fff;
  }
}

.product-section {
  position: relative;
  overflow-x: hidden;
}

.section-black {
  background-color: #000;
  color: #fff;
}

.section--portfolio {
  a {
    position: relative;
    -webkit-transition: color,0.6s,ease-in;
    -moz-transition: color,0.6s,ease-in;
    transition: color,0.6s,ease-in;
    display: block;

    .overlay, .overlay-portfolio {
      position: absolute;
      height: 100%;
      width: 100%;
      display: block;
      top: 0;
      left: 0;
      z-index: 2;
      background-color: rgba(0,0,0,0.40);
      -webkit-transition: background-color 1s ease;
      -moz-transition: background-color 1s ease;
      transition: background-color 1s ease;
    }

    &:hover {
      -webkit-transition: color,0.6s,ease-out;
      -moz-transition: color,0.6s,ease-out;
      transition: color,0.6s,ease-out;

      .grid-content {
        .grid-border {
          width: 40%;
        }
      }

      .overlay, .overlay-portfolio {
        opacity: 0.95;
        background-color: #2bcaf5;
        -webkit-transition: all 1s ease-in-out;
        -moz-transition: all 1s ease-in-out;
        transition: all 1s ease-in-out;
        -webkit-transform: translateZ(0);
        visibility: visible;
        -webkit-backface-visibility: hidden;
      }
    }
  }

  .grid-content {
    .grid-border {
      -webkit-transition: width 1s ease;
      -moz-transition: width 1s ease;
      transition: width 1s ease;
    }
  }
}