.pc_container {
  .carousel-control {
    background: transparent!important;
    width: 7%;
  }
  .carousel-indicators {
    position: relative;
    bottom: initial;
    left: initial;
    margin: auto;
    width: 100%;

    li {
      width: 33.333%!important;
      height: 8px!important;
      background: #e1e1e1!important;
      border-radius: 0;
      display: block;
      border: 0;
      text-indent: 0;
      margin: 0!important;
      padding: 0!important;
      float: left;
      position: relative;

      &:before {
        content: '';
        position: absolute;
        display: inline-block;
        width: 21px;
        height: 21px;
        border-radius: 50%;
        border: 1px solid #E1E1E1;
        z-index: 10;
        margin: -7px 0 0!important;
        background: #E1E1E1;
        left: 0;
      }
    }

    li:first-child {
      border-top-left-radius: 10px;
      border-bottom-left-radius: 10px;
    }

    li:nth-child(2){
      &:before {
        left: 50%;
        .translate(-50%,0);
        border-left: 0;
        border-right: 0;
      }
    }

    li:nth-child(3) {
      border-top-right-radius: 10px;
      border-bottom-right-radius: 10px;

      &:before {
        right: 0;
        left: initial;
        border-left: 0;
      }
    }

    .transition-border {
      position: absolute;
      display: inline-block;
      width: 28px;
      height: 28px;
      border-radius: 50%;
      border: 1px solid #E1E1E1;
      z-index: 10;
      margin: -9px 0 0!important;
      background: #fff;
      transition: left 200ms ease;
      left:0;
      cursor: pointer;

      &:before {
        content: '';
        background: #09B7E7;
        width: 12px;
        height: 12px;
        position: absolute;
        top: 50%;
        left: 50%;
        border-radius: 50%;
        .translate(-50%,-50%);
      }
    }

    //.transition-timer-carousel-progress-bar {
    //  height: 3px;
    //  background-color: #5cb85c;
    //  width: 0%;
    //  margin: 0px 0px 0px 0px;
    //  border: none;
    //  z-index: 11;
    //  position: absolute;
    //}
  }
}

.pc_container .pc_item {
  width: 100%;
  background-repeat: no-repeat;
  height: 700px;
  background-position: center;
  background-size: cover;

  .desc {
    position: absolute;
    right: -100px;
    top: 0;
    height: 100%;
    padding: 0 3em 0 0;
    background-color: rgba(3, 197, 250, 0.85);
    .opacity(0);
    .transition(@transition-3s);
    width: auto;

    .pc--desc {
      position: relative;
      top: 50%;
      left:0;
      bottom: 0;
      .translate(0,-50%);
      text-align: center;

      h1 {
        font-weight: 700;
        color: #fff;
        font-size: 65px;
        letter-spacing: 20px;
        text-transform: uppercase;
        margin: auto;
        text-align: center;
      }
      p {
        font-weight: 300;
        color: #fff;
        font-size: 19px;
        text-align: center;
        max-width: 60%;
        margin: auto;
      }
    }

    &:before {
      content: '';
      position: absolute;
      left: -250px;
      top: 0;
      bottom: 0;
      border-top: 700px solid transparent;
      border-right: 250px solid rgba(3, 197, 250, 0.85);
    }
  }
}

.pc_container {
  .active {
    .desc {
      right: 0;
      .opacity(1);
    }
  }
}